.buttonParrot {
  position: relative;
}

.button {
  background: transparent;
  color: #000;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-family: "Source Serif Pro", serif;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 1px;
}

.parrot {
  position: absolute;
  width: 60px;
  text-align: center;
  animation: blink 0.8s infinite;
  color: transparent;
}

.parrot::before {
  content: "Emo!";
}

.button:hover .parrot::before {
  content: "Do it!";
  width: 10px;
}

/* Các vị trí của từng parrot */
.parrot:nth-child(1) {
  top: -30px;
  left: -40px;
  font: 12px/1 "Margarine", sans-serif;
  transform: rotate(-20deg);
  animation-duration: 0.5s;
}

.parrot:nth-child(2) {
  font: 12px/1 "Margarine", sans-serif;
  right: -40px;
  top: -20px;
  transform: rotate(15deg);
  animation-duration: 0.3s;
}

.parrot:nth-child(3) {
  font: 16px/1 "Margarine", sans-serif;
  top: -40px;
  left: 15px;
  transform: rotate(10deg);
  animation-duration: 1s;
}

.parrot:nth-child(4) {
  font: 18px/1 "Margarine", sans-serif;
  top: -50px;
  left: 95px;
  transform: rotate(2deg);
  animation-duration: 0.7s;
}

.parrot:nth-child(5) {
  font: 14px/1 "Margarine", sans-serif;
  top: 60px;
  left: 105px;
  transform: rotate(-20deg);
  animation-duration: 0.8s;
}

.parrot:nth-child(6) {
  font: 12px/1 "Margarine", sans-serif;
  top: 60px;
  left: 5px;
  transform: rotate(10deg);
  animation-duration: 1.2s;
}

@keyframes blink {
  25%,
  75% {
    color: transparent;
  }

  40%,
  60% {
    color: #4d1a76;
    font-family: fantasy;
    font-style: oblique;
  }
}
.sourceSerif {
  font-family: "Source Serif Pro", serif;
}
/* Live Lightly */
.listenYour {
  font-family: "Solitreo", cursive;
  font-size: 1.2rem;
  color: #4d1a76;
  text-align: center;
}
/* css card option service */
.card {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  width: full;
  height: auto;
  background-color: rgb(122, 48, 143);
  background-image: radial-gradient(
      circle at 0% 0%,
      rgb(37, 7, 44) 15%,
      rgba(0, 0, 0, 0) 75%
    ),
    radial-gradient(
      circle at 100% 100%,
      rgb(25, 2, 31, 0.9) 15%,
      rgba(0, 0, 0, 0) 150%
    ),
    linear-gradient(
      135deg,
      rgba(24, 8, 28, 0) 0%,
      rgb(122, 48, 143) 50%,
      rgba(24, 8, 28, 0) 100%
    );
  border-radius: 0.5rem;
}

.card::before {
  content: "";
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: rgb(122, 48, 143);
  background-image: linear-gradient(
    0deg,
    rgba(118, 42, 180, 1) 0%,
    rgb(199, 95, 228) 75%
  );
  border-radius: 9999px;
  box-shadow: 0 1px 5px 3px rgb(199, 95, 228), 0 0 30px 5px rgb(199, 95, 228);
}

.card .title {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.card .pricing {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}

.card .pricing .pricingTime,
.card .subTitle {
  font-size: 1rem;
  color: rgb(184, 132, 199);
  font-weight: 500;
}

.card .list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.75rem;
  color: white;
  font-weight: 500;
  list-style: none;
}

.card .list .listItem .check {
  margin-right: 0.25rem;
  font-size: 1rem;
  color: rgb(199, 95, 228);
  font-weight: 900;
}

.card .button {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
  height: fit-content;
  background-color: rgb(122, 48, 143);
  font-size: 0.75rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 2px 1px rgb(122, 48, 143);
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.card .button .textButton {
  position: relative;
  z-index: 10;
}

.card .button::before,
.card .button::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.card .button::before {
  left: 0;
  background-image: radial-gradient(
    circle at 0% 45%,
    rgba(16, 5, 36, 1) 19%,
    rgba(16, 5, 36, 0.26) 46%,
    rgba(16, 5, 36, 0) 100%
  );
}
.card .button::after {
  right: 0;
  background-image: radial-gradient(
    circle at 100% 45%,
    rgba(16, 5, 36, 1) 19%,
    rgba(16, 5, 36, 0.26) 46%,
    rgba(16, 5, 36, 0) 100%
  );
}

.card .button:hover {
  box-shadow: 0px 0px 20px 0 rgb(122, 48, 143);
}

.card .button:hover::before,
.card .button:hover::after {
  width: 0;
  opacity: 0;
}
