.container {
  height: 100%;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(27, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);

  /* background: #e2d4f7; */
  /* background: -webkit-linear-gradient(
    181deg,
    #b487f7 0%,
    rgba(146, 95, 227, 0.82) 50%,
    #925fe2 100%
  ); */
  /* background: linear-gradient(
    181deg,
    #bf99f7 0%,
    rgba(146, 95, 227, 0.82) 50%,
    #925fe2 100%
  ); */
}
